@import url(../src/game/DOM-elements/menu-start-element/menu-start.css);
@import url(../src/game/DOM-elements/menu-restart-element/menu-restart.css);

body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f0f0f;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-start {
  position: absolute;
  height: 10rem;
  max-width: 15rem;
  width: 100%;
  left: 50%;
  top: 35%;

  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}

.menu-start-title {
  font-weight: bold;
}

.menu-start-button {
  margin-top: 1rem;
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  background: white;
  border-radius: 0.5rem;
  font-weight: bold;
  border: none;
}

.menu-restart {
  position: absolute;
  height: 10rem;
  max-width: 15rem;
  width: 100%;
  left: 50%;
  top: 35%;

  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}

.menu-restart-title {
  font-weight: bold;
}

.menu-restart-button {
  margin-top: 1rem;
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  background: white;
  border-radius: 0.5rem;
  font-weight: bold;
  border: none;
}
