.menu-settings {
  position: absolute;
  height: 10.5rem;
  max-width: 15rem;
  width: 100%;
  left: 50%;
  top: 35%;

  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
  background-color: rgb(25, 0, 255);
}

.menu-settings-title {
  font-weight: bold;
}

.back-to-menu-button {
  margin-top: 1rem;
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  background: white;
  border-radius: 0.5rem;
  font-weight: bold;
  border: none;
}
